* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 14px/1.5 'Montserrat', sans-serif;

}


ol,
ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

textarea {
    padding: 10px;
}
.row {
    margin: 0;
    padding: 0;
}

.container-fix {
    max-width: 1280px;
}

.top-banner {
    height: 30px;
    background-color: #444;
}

.banner {
    height: 380px;
}

.md {
    height: 100%;
}

.md.banner-left {
    background-color: #ffff;
}

.md.banner-left .banner-cate-item {
    padding: 2px 0;

}

.banner-list-cate {
    background-color: #fff;
    height: 100%;
    padding-top: 16px;
    
}

.banner-list-cate .banner-cate-item {
    padding: px;
    display: flex;
    align-items: center;
}

.banner-list-cate .banner-cate-item img {
    width: 30px;
}

.banner-list-cate .banner-cate-item a {
    color: #333;
}

.top-banner {
    width: 100%;
    height: 40px;
    background-color: #333;
    position: relative;
}

.top-banner-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 70%;
    background-color: #fff;
    position: absolute;
    top: 14px;
    background-color: #eee;
}

.cate-title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 2px;
}

.cate-title img {
    width: 22px;
}

.list-image-banner {
    display: flex;
    position: relative;
}

.list-images-banner .imgb-item img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: contain;
}

.banner-slider {
    width: 100%;
    height: 100%;
}

.banner-slider-item img {
    width: 100%;
    height: 380px;
}

.slick-prev {
    left: 10px !important;
    z-index: 999;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    background: #fcfcfc;
    z-index: 999;
    opacity: 0.5;
}

.slick-next {
    right: 8px !important;
    z-index: 999;
}

.slick-prev:before {
    content: "<";
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next:before {
    content: ">";
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: #fcfcfc;
    opacity: 1;
}

.slick-disabled {
    display: none !important;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: absolute;
    bottom: 40px;
}

.md.banner-right {
    background-color: #ffffff;
}

.image-banner-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ibr-center {
    display: flex;
}

.ibr-center-one {
    width: 50%;
    padding: 4px;
}

.ibr-center-one img {
    width: 100%;
}

.ibr-center-two {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.ibr-center-two .ibr-center-two-first img {
    width: 100%;

}

.ibr-center-two .ibr-center-two-second img {
    width: 100%;
    padding: 2px;
}

.banner-cate-item img {
    margin-right: 10px;
}
